#container {
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-image: linear-gradient(rgba(4, 4, 245, 0.5), rgba(0, 183, 255, 0.5));
    border-color: rgb(14, 30, 56);
}

input {
    width: 230px;
    font-family: "SF Pro";
    max-width: 200px;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
}
input:focus {
    box-shadow: 5.5px 7px 0 black;
}


#button {
    appearance: none;
	border: .2em solid #000000;
	background: hsl(0 0 0/0);
	padding: .85em 1.5em;
	color: #000000;
	border-radius: 2em;
	transition: 1s;
	&:hover, &:focus, &:active {
		background: #1e65e9;
		color: #fff;
    }
}

#pass_button{
    appearance: none;
	border: .2em solid #000000;
	background: hsl(0 0 0/0);
	padding: .85em 1.5em;
	color: #000000;
	border-radius: 2em;
	transition: 1s;
	&:hover, &:focus, &:active {
		background: #1e65e9;
		color: #fff;
    }
}
