#container {
    border-style: solid;
    border-color: linear-gradient(rgba(81, 81, 156, 0.5), rgba(255, 255, 0, 0.5));
    border-width: 20px;
    border-radius: 30px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5))
}

input {
    border: 5px solid lightblue;
    border-radius: 5px;
}

#submit {
    border: 2px solid lightblue;
    border-radius: 5px;
}
